<div class="container">

  <!-- Outer Row -->
  <div class="row justify-content-center">

    <div class="col-xl-10 col-lg-12 col-md-9">

      <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
          <!-- Nested Row within Card Body -->
          <div class="row">
            <div class="col-lg-6">
              <img src="../../../assets/img/open.jpg" style="border-bottom-left-radius: 1%; border-top-left-radius: 1%;" width="470px" height="420px" alt="">
            </div>
            <div class="col-lg-6">
              <div class="p-5">
                <div class="text-center">
                  <h1 class="h4 text-gray-900 mb-4">Bienvenido!</h1>
                </div>
                <form #form="ngForm" (ngSubmit)="Login(form)" class="user">
                  <div class="form-group">
                    <input type="text" class="form-control form-control-user" placeholder="Usuario"
                      name="username" id="username" required [(ngModel)]="authService.logedUser.username"
                      #username="ngModel">
                    <app-ayuda *ngIf="username.invalid && username.touched" [errors]="username.errors"></app-ayuda>

                  </div>
                  <div class="form-group">
                    <input type="password" class="form-control form-control-user" placeholder="Contraseña" name="password"
                      id="password" required [(ngModel)]="authService.logedUser.password" #password="ngModel">
                    <app-ayuda *ngIf="password.invalid && password.touched" [errors]="password.errors"></app-ayuda>
                  </div>
                  <div class="form-group">
                    <div class="custom-control custom-checkbox small">
                      <input type="checkbox" class="custom-control-input" id="customCheck">
                      <label class="custom-control-label" for="customCheck">Recordarme</label>
                    </div>
                  </div>
                  <a *ngIf="error" style="color: red;">{{error}}</a>
                  <button [disabled]="form.invalid" type="submit" class="btn btn-primary btn-user btn-block">
                    Entrar
                  </button>
                  <hr>
                  <!-- <a href="index.html" class="btn btn-google btn-user btn-block">
                    <i class="fab fa-google fa-fw"></i> Login with Google
                  </a>
                  <a href="index.html" class="btn btn-facebook btn-user btn-block">
                    <i class="fab fa-facebook-f fa-fw"></i> Login with Facebook
                  </a> -->
                </form>
                <!-- <hr> -->
                <div *ngIf="!cargando" style="cursor: pointer;" class="text-center">
                  <a class="small" (click)="recoverPass(username)">Olvidaste tu contraseña?</a>
                </div>
                <div *ngIf="cargando" style="cursor: pointer;" class="text-center">
                  <div class="spinner-border text-primary row"></div>
                  <!-- <div class="row"> -->
                  <a class="row" style="font-size: 15px; color: black; margin-left: 10%;">Se está generando un código de recuperación</a>

                </div>
                <div class="text-center">
                  <a class="small" [routerLink]="['/auth','register']">Regístrate!</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>

</div>
