<div class="card p-4">
  <div class="container">
    <div class="row pt-4">
      <img src="../../../../assets/img/LogoFactura.jpg" style="width: 230px; height: 130px;" alt="">
    </div>
    <div class="row mt-4">
      <div class="col-6">
        <p class="row"><strong>Jorge Alonso Podadera</strong></p>
        <p class="row ml-1">+5358478256</p>
        <p class="row ml-1">yoyi1239707@gmail.com</p>
        <p class="row ml-1">Avenida 101 entre 126 y 128b Marianao, La Habana, Cuba</p>
        <p class="row ml-1">www.SmartShop.com</p>
      </div>
      <div class="col-2"></div>
      <div class="col-4">
        <p class="row"><strong>{{user.name}} {{user.firstLastname}}</strong></p>
        <p class="row ml-1">{{user.CI}}</p>
        <p class="row ml-1">{{user.email}}</p>
      </div>
    </div>
    <div class="row mt-4">
      <h1 class="col-6" style="font-size: 50px;"><strong>FACTURA</strong></h1>
      <div class="col-2"></div>
      <div class="col-4">
        <h5>Número de factura: {{soldService.selectedSold.year}}-{{soldService.selectedSold.order}}</h5>
        <h5>Fecha de factura: {{date}}</h5>
      </div>
    </div>
    <div class="row">
      <table id="example1" class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Producto</th>
            <th>Cantidad</th>
            <th>%Descuento</th>
            <th>SubTotal</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of products">
            <td>
              <p>{{product[0]}}</p>
            </td>
            <td>
              <p>{{product[3]}} X ${{product[1]}}</p>
            </td>
            <td>
              <p>%{{product[4]}}</p>
            </td>
            <td>
              <p>${{product[3]*product[2]}}</p>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <th colspan="4">
              <h4 style="float: right;"><strong>TOTAL: ${{total}}</strong></h4>
            </th>
          </tr>
        </tfoot>
      </table>
    </div>
    <div class="row mt-5">
      <h4><strong>Información:</strong></h4>
      <p>Esta factura ya ha sido abonada mediante tarjeta de crédito en el momento de realizar la compra.</p>
    </div>
  </div>
</div>
