<div class="card">
  <div class="card-header">
    <h4 class="card-title">
      <i class="fas fa-user-cog mr-1" style="font-size: 20px;"></i>
      Roles de Usuario
    </h4>
  </div><!-- /.card-header -->
  <div class="card-body">
    <div class="tab-content p-0">
      <!-- Morris chart - Sales -->
      <div class="chart tab-pane active" id="revenue-chart1" style="position: relative; height: auto;">
        <div class="row">
          <div class="col-lg-7">
            <div class="p-5">
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Crear Rol!</h1>
              </div>
              <form #form="ngForm" (ngSubmit)="Add(form)" class="user">
                <div class="form-group">
                  <input type="text" class="form-control form-control-user" placeholder="Nombre" name="name" id="name"
                    required [(ngModel)]="roleService.selectedRole.name" #name="ngModel" autofocus>
                  <app-ayuda *ngIf="name.invalid && name.touched" [errors]="name.errors"></app-ayuda>
                </div>
                <a *ngIf="error" style="color: red;">{{error}}</a>
                <button type="submit" [disabled]="form.invalid" class="btn btn-primary btn-user btn-block">
                  Registrar Rol
                </button>

              </form>
            </div>
          </div>

          <div class="col-lg-5">
            <div class="pt-3 pr-5 pl-5 pb-5">
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Roles</h1>
              </div>
              <ul class="list-group">
                <li *ngFor="let rol of roles" class="list-group-item list-group-item-action">
                  <strong>{{rol.name}}</strong>
                  <span [ngbPopover]=imagen  popoverTitle="Alerta!" style='font-size:17px; float: right; cursor: pointer;' class="badge badge-danger">Eliminar</span>
                  <ng-template #imagen>
                   <p style="text-align: center;">Estás seguro de eliminar el elemento?</p>
                   <button class="btn btn-danger mr-3 ml-3" (click)="delete(rol._id)">Eliminar</button>
                   <button class="btn btn-dark">Cancelar</button>
                  </ng-template>
                </li>
              </ul>
            </div>

          </div>
        </div><!-- /.card-body -->
        <!-- <div class="card-footer">

      </div> -->
      </div>
    </div>
  </div>
