<div class="card">
  <div class="card-header">
    <h3 class="card-title"><i class="fas fa-stream mr-1"></i>Listado de Usuarios</h3>
    <button class="btn btn-primary" style="float: right;" (click)="crear()"><i class="fas fa-plus mr-1"></i>Nuevo
      Usuario</button>
  </div>
  <!-- /.card-header -->
  <div class="card-body">
    <div *ngIf="users.length < 1">
      No hay Usuarios que mostrar.
    </div>
    <table id="example1" class="table table-bordered table-striped" *ngIf="users.length > 0">
      <thead>
        <tr>
          <th>Usuario</th>
          <th>CI</th>
          <th>Nombre</th>
          <th>Apellidos</th>
          <th>Correo</th>
          <th>Roles</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of users">
          <td>{{item.username}}</td>
          <td>{{item.CI}}</td>
          <td>{{item.name}}</td>
          <td>{{item.firstLastname}}</td>
          <td>{{item.email}}</td>
          <td>
            <div *ngFor="let items of item.roles"><span style='font-size:13px;'
                class="badge badge-primary">{{items.name}}</span></div>
          </td>
          <td>
            <span *ngIf="item.active" data-toggle="tooltip" style='font-size:15px; cursor: pointer;'
              title="Usuario activo" (click)="checkbox.click(); deshabilitarUser(item)"
              class="badge badge-primary">Activo</span>
            <span *ngIf="!item.active" data-toggle="tooltip" style='font-size:15px; cursor: pointer;'
              title="Usuario desactivado" (click)="checkbox.click(); habilitarUser(item)"
              class="badge badge-danger">Inactivo</span>
            <input class="checkbox d-none" #checkbox type="checkbox" [(ngModel)]=item.active>
            <i class="far fa-edit" style='font-size:18px; cursor: pointer; margin-left: 5%; margin-right: 5%;'
              (click)="edit(item)"></i>
            <a [ngbPopover]=imagen popoverTitle="Alerta!"> <i class="far fa-trash-alt"
                style='font-size:18px; cursor: pointer;'></i></a>
            <ng-template #imagen>
              <p style="text-align: center;">Estás seguro de eliminar el elemento?</p>
              <button class="btn btn-danger mr-3 ml-3" (click)="deleteUser(item._id)">Eliminar</button>
              <button class="btn btn-dark">Cancelar</button>
            </ng-template>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <th>Usuario</th>
          <th>CI</th>
          <th>Nombre</th>
          <th>Apellidos</th>
          <th>Correo</th>
          <th>Roles</th>
          <th>Acciones</th>
        </tr>
      </tfoot>
    </table>
  </div>
  <div class="card-footer" *ngIf="users.length > 0">

    <ul class="pagination pagination-md" style="float: right;">
      <li class="page-item"><a (click)="getUsersPaginated(1)" class="page-link">&laquo;</a></li>
      <li *ngIf="currentPage > 3" class="page-item"><a class="page-link">...</a></li>
      <li *ngIf="currentPage > 2" (click)="getUsersPaginated(beforepage-1)" class="page-item"><a
          class="page-link">{{beforepage-1}}</a></li>
      <li *ngIf="currentPage > 1" (click)="getUsersPaginated(beforepage)" class="page-item"><a
          class="page-link">{{beforepage}}</a></li>
      <li class="page-item active"><a class="page-link">{{currentPage}}</a></li>

      <li *ngIf="currentPage < pages" (click)="getUsersPaginated(nextpage)" class="page-item"><a
          class="page-link">{{nextpage}}</a></li>
      <li *ngIf="currentPage < pages-1" (click)="getUsersPaginated(nextpage+1)" class="page-item"><a
          class="page-link">{{nextpage+1}}</a></li>
      <li *ngIf="currentPage < pages-2" class="page-item"><a class="page-link">...</a></li>
      <li class="page-item"><a (click)="getUsersPaginated(pages)" class="page-link">&raquo;</a></li>
    </ul>
  </div>
  <!-- /.card-body -->
</div>
<!-- /.card -->
