/* You can add global styles to this file, and also import other style files */
body{
  background-color: rgba(0, 0, 0, .1);
}

input.ng-invalid.ng-touched {
  border-color: red;
}

input.ng-valid {
  border-color: cornflowerblue;
}



